<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tom Rotten </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <div >
    <h4><a href="">News of the Week</a> -<i style="font-size: medium;">"Adam Sandler movies banned from movie theaters due to lack of jokes."</i></h4>
    <h1 style="margin-left: 45%; font-family: 'Brush Script MT', cursive; color: tomato; font-size: 555%;" >Tom Rotten </h1>
    <h3 style="margin-left: 45%; font-family: Georgia, serif;">Movie Reviews made simple</h3>
  </div>


  <div class="row bg-warning h-150 p-3" style="margin-right: 0.1%;">

  

    <div class="col-sm-3">  <h3 style="margin-left: 117%;"><a href="">Critics</a></h3></div>
    <div class="col-sm-3">  <h3 style="margin-left: 91%;"><a href="">News</a></h3></div>

      <div class="col-sm-3">  <h3 style="margin-left: 94%;"><a href="">Login</a></h3>
      <h3 style="margin-left: 92%;"><a href="" >Register</a></h3></div>


      

  </div>
  <body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mycols bg-light text-dark">
                <h2>Top 5 Arm Chair Critic Review:</h2>
                <p style="font-size: large;"><a href="">bearded-pirate</a>-Loved it!Great visuals!!! A bit too long though.</p>
                <p style="font-size: large;"><a href="">TinHatMan</a>-Most boring movie ever, 0 stars. </p>
            </br><p style="font-size: large;"><a href="">EatingDirt</a>-I fell asleep because it was so long </p>
        </br><p style="font-size: large;"><a href="">Chris Prattleton</a>-Watching this made me dumberer</p>
    </br><p style="font-size: large;"><a href="">John Smithy</a>-Ran out of popcorn before I could finish movie</p>
    </br><hr>
                </br>
                <h2>Top 5 Film Buff Review: </h2>
                <p style="font-size: large;"><a href="">Hairy Potter</a>-A must see!</p>
                <p style="font-size: large;"><a href="">Jane Buck</a>-If you havn't seen this movie yet then go watch it now </p>
            </br><p style="font-size: large;"><a href="">Drool97</a>-I want a refund </p>
        </br><p style="font-size: large;"><a href="">Mike33</a>-The marines were not depicted  in an accurate manner </p>
    </br><p style="font-size: large;"><a href="">Nomz</a> -two thumbs down, way down.</p>
    </br><hr>
            </br>
            <h2>Top 5 Casual Movie Goer Review: </h2>
            <p style="font-size: large;"><a href="">Omega-Prime</a>-I loved the explosions :) </p>
            </br>
            <p style="font-size: large;"><a href="">Busta Notes</a>-The ending was copied from first movie </p>
            </br><p style="font-size: large;"><a href="">Wet Ice</a>-The army people needed more guns </p>
        </br><p style="font-size: large;"><a href="">T-Rax</a>-Everyone dies at the end </p>
    </br><p style="font-size: large;"><a href="">Slayer44</a>- Transformers was better than this. </p>
    
            </div>
            <div class="col-lg-4 mycols ">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91kkGWtyqTL._AC_SL1500_.jpg" alt="aliens" height="500">
                <div class="comments">
                    <p style="font-size: large;">Title: Aliens</p>
                    <p style="font-size: large;">Rated: R</p>
                    <p style="font-size: large;">Genre: Sci-fi Horror</p>
                    <p style="font-size: large;">Year Released:1986</p>
                    <p style="font-size: large;">Box Office: $85,160,248</p>
                    <p style="font-size: large;">Directed By: James Cameron</p>
                    <h3 style="font-size: large;">User Input:</h3>
                </div>
                <p style="font-size: large;">Rating: 
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select><input type="hidden">/5</p>
                    <textarea name="" id="" cols="25" rows="6" maxlength="100" style="resize:none" placeholder="100 characters max"></textarea>
                    <p></p>
                    <button>Submit Review</button>
                   
                    
            </div>
            <div class="col-lg-4 mycols bg-light text-dark">
                <h1><a href="">All Reviews</a></h1>
                <h2>Average Rating: 4</h2>
                <h3>Critics Who Favored it the most: Film Buffs</h3>
                <h3>Critics Who disliked it the most: Casuals </h3>
            </div>
        </div>
        </div>
        <nav class="navbar navbar-light bg-warning h-150 p-3" style="margin-bottom:0%" >
            <h1 style="font-style: oblique; margin-right: 64%;">Like what you see? Connect with us on Social media!</h1></p>
            <p><a href="https://www.facebook.com/"target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png" height="60" width="60"alt=""></a></p>
            <p><a href="https://twitter.com/" target="_blank"><img src="https://d1e2bohyu2u2w9.cloudfront.net/education/sites/default/files/product/twitter-product-image.png" height="60" width="60"alt=""></a></p>
            <p><a href="https://www.linkedin.com/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4s3k1pIajgk3Rf-07CLW-WqbfKXE2VDXFA&usqp=CAU&ec=45761791" height="60" width="60"alt=""></a></p>
            <p><a href="https://www.pinterest.com/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEgxnwMTT4WrNoXdjQlJZE4Vxj1Gnd8v1OGg&usqp=CAU&ec=45761791" height="60" width="60"alt=""></a></p>
        
          
            <div class="col-lg-12">
              <h2 style="font-style: oblique;">Contact us:</h2>
        
              <p style="font-size: medium;">Phone: 777-8675-309</p>
              <p style="font-size: medium;">Email: admin@tomrotten.com</p>
            </div>
          </nav>
    </body>
    </html>
