<!DOCTYPE html>
<html lang="en">
<head>
<title>Tom Rotten</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

</head>
<body style="  background-image: linear-gradient(to right, blue , aqua);">

        <div class="row-lg-4" style="background-color: white;">
        <h1 style="margin-left: 11px;"><i>Registering is quick and easy and takes less than a minute!</i></h1>
        <h1 style="margin-left: 11px;"><i>Reading Reviews is also quick and easy. It also takes less than a minute!</i></h1>
        <!-- not sure on what to do -->
          
        </div>

        <div class="justify-content-center"style="margin-bottom: 21px;" >
            <div class="loginbox2" style="background-image: linear-gradient(to right, aqua , blue);">
                <h3 style="color: white; margin-left: 41%;" class="logintitle"></h3>
                <p> <input type="text" class="logininput" name="inputBox" placeholder="UserName"></p>
                <p></p>
                <p><input type="text" class="logininput" name="inputBox" placeholder="Email"></p>
                <p><input type="text" class="logininput" name="inputBox" placeholder="Password"></p>
                <p><input type="text" class="logininput" name="inputBox" placeholder="Confirm PassWord"></p>

                <button class="loginbutton" style=" margin-bottom: 21px;   background-image: linear-gradient(to right, blue , yellow);">Register
                </button>
                <p></p>
            </div>
        </div>

</body>